html, body {
  width:  100%;
  height: 100%;
}
body {        
  background-color: black;
  vertical-align: top;
  overflow: hidden;
  background-image: url('http://www.mogaanywhere.com/wp-content/uploads/2013/02/background-radial-gradient-darker-3.jpg');
  background-size: 100% 100%;
}
body, h1, h2 {
  margin:  0;
  border:  0;
  padding: 0;
  font-family: Comfortaa;
  font-size: 100px;
  color: Gray;
}
#cover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
}
#containerforcube {
  height: 100%;
  width: 100%;
}
#dircon {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
#directions {
  width: 100%;
  background-color: LightGray;
  color: Black;
  font-family: Comfortaa;
  font-size: 20px;
  display: none;
}
button {
  background-color: black;
  color: white;
  border: 3px solid white;
  font-family: Comfortaa;
}
#demotext {
  font-size: 100px;
}
